html{
    height: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 80%;
}

body {
    /* background-color:gray; */
    background-image: url("../img/sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    height: 120px;
    /* background-color: rgb(185, 200, 207); */
    text-align: center;
}

nav {
    height: 30px;
    text-align: center;
    background-color: rgba(255, 187, 0, 0.301);
}

main {
    height: 500px;
    /* background-color:rgb(175, 175, 175); */
    text-align: center;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

footer {
    height: 25px;
    background-color: rgb(113, 133, 142);
}

h1{
    font-size:80px;
    font-family: Georgia, Helvetica, sans-serif;
}

.para{
    font-size:40px;
    font-family: Georgia, Helvetica, sans-serif;
}

a{
    font-size:40px;
    color:black;
    font-family: Georgia, Helvetica, sans-serif;
    text-decoration: none;
}

nav a{
    font-size:25px;
    color:black;
    font-family: Georgia, Helvetica, sans-serif;
    text-decoration: underline;
    padding-left: 40px;
    padding-right: 40px;
}

name {
    font-weight: bold;
}

map {
    padding-left:20%;
    padding-right:20%;
}